In [1]:
# import dependencies
from path import Path
import pandas as pd
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from opencage.geocoder import OpenCageGeocode
%matplotlib inline

In [2]:
# Import dataset & store into dataframe
merged_covid_df = pd.read_csv("../Resources/merged_covid_FINAL.csv")
merged_covid_df

,primary_key_reaction,date_updated,iso_code,continent,location,population,population_density,median_age,new_cases,percentage_of_Pop_New_Cases,...,primary_key_response,StringencyIndex_updated,percentage_change_stringency,StringencyLegacyIndex_updated,GovernmentResponseIndex_updated,percentage_change_GovernmentResponse,ContainmentHealthIndex_updated,percentage_change_ContainmentHealth,EconomicSupportIndex_updated,percentage_change_EconomicSupport
0,ABW2020-03-13,2020-03-13,ABW,North America,Aruba,106766.0,584.800,41.2,2.0,0.001873,...,ABW2020-03-13,0.00,0.000000,0.00,2.56,0.000000,3.03,0.000000,0.0,0.0
1,ABW2020-03-19,2020-03-19,ABW,North America,Aruba,106766.0,584.800,41.2,0.0,0.000000,...,ABW2020-03-19,33.33,0.000000,42.86,29.49,15.015601,34.85,15.016502,0.0,0.0
2,ABW2020-03-20,2020-03-20,ABW,North America,Aruba,106766.0,584.800,41.2,2.0,0.001873,...,ABW2020-03-20,33.33,0.000000,42.86,29.49,0.000000,34.85,0.000000,0.0,0.0
3,ABW2020-03-21,2020-03-21,ABW,North America,Aruba,106766.0,584.800,41.2,0.0,0.000000,...,ABW2020-03-21,44.44,33.333333,60.71,37.18,26.076636,43.94,26.083214,0.0,0.0
4,ABW2020-03-22,2020-03-22,ABW,North America,Aruba,106766.0,584.800,41.2,0.0,0.000000,...,ABW2020-03-22,44.44,0.000000,60.71,37.18,0.000000,43.94,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32272,ZWE2020-08-27,2020-08-27,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,55.0,0.000370,...,ZWE2020-08-27,80.56,0.000000,88.10,66.03,0.000000,73.48,0.000000,25.0,0.0
32273,ZWE2020-08-28,2020-08-28,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,41.0,0.000276,...,ZWE2020-08-28,80.56,0.000000,88.10,66.03,0.000000,73.48,0.000000,25.0,0.0
32274,ZWE2020-08-29,2020-08-29,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,96.0,0.000646,...,ZWE2020-08-29,80.56,0.000000,88.10,66.03,0.000000,73.48,0.000000,25.0,0.0
32275,ZWE2020-08-30,2020-08-30,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,18.0,0.000121,...,ZWE2020-08-30,80.56,0.000000,88.10,66.03,0.000000,73.48,0.000000,25.0,0.0
32276,ZWE2020-08-31,2020-08-31,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,6.0,0.000040,...,ZWE2020-08-31,80.56,0.000000,88.10,66.03,0.000000,73.48,0.000000,25.0,0.0

In [3]:
#df = merged_covid_df.set_index("continent")
#df

In [4]:
#new_loc= df.loc["North America"]
#new_loc

In [5]:
#location_newcases_df = merged_covid_df[["location","new_cases"]]
#location_newcases_df

In [6]:
# Set location as index
location_newcases_df = pd.DataFrame(merged_covid_df.set_index(["location"])["new_cases"])
location_newcases_df

          new_cases
location
Aruba           2.0
Aruba           0.0
Aruba           2.0
Aruba           0.0
Aruba           0.0
...             ...
Zimbabwe       55.0
Zimbabwe       41.0
Zimbabwe       96.0
Zimbabwe       18.0
Zimbabwe        6.0

[32277 rows x 1 columns]

In [7]:
# Average new cases per location from highest to lowest
avg_newcases_df= location_newcases_df.groupby(by=["location"]).mean().sort_values(by="new_cases", ascending =False)
avg_newcases_df[0:10]

                  new_cases
location
United States  24578.536885
Brazil         15829.143443
India          14841.168033
Russia          4058.713115
Peru            3479.387097
Colombia        3377.433333
South Africa    3019.594203
Mexico          2441.971311
Chile           2277.633333
Argentina       1976.482759

In [8]:
# Set location as index- Total deaths
location_totaldeaths_df = pd.DataFrame(merged_covid_df.set_index(["location"])["total_deaths_updated"])
location_totaldeaths_df

          total_deaths_updated
location
Aruba                      0.0
Aruba                      0.0
Aruba                      0.0
Aruba                      0.0
Aruba                      0.0
...                        ...
Zimbabwe                 179.0
Zimbabwe                 189.0
Zimbabwe                 195.0
Zimbabwe                 196.0
Zimbabwe                 196.0

[32277 rows x 1 columns]

In [9]:

# Average total deaths per location from highest to lowest
avg_totaldeaths=location_totaldeaths_df.groupby(by=["location"]).mean().sort_values(by="total_deaths_updated",ascending=False)
avg_totaldeaths[0:10]

                total_deaths_updated
location
United States           67881.491803
Brazil                  30832.647541
United Kingdom          21253.770492
Italy                   20114.344262
France                  16721.889344
Spain                   16387.670782
Mexico                  14740.581967
India                   11351.250000
Peru                     7883.419355
Iran                     6854.262295

In [10]:
# Set location as index- StringencyIndex
location_StringencyIndex_df = pd.DataFrame(merged_covid_df.set_index(["location"])["StringencyIndex_updated"])
location_StringencyIndex_df

          StringencyIndex_updated
location
Aruba                        0.00
Aruba                       33.33
Aruba                       33.33
Aruba                       44.44
Aruba                       44.44
...                           ...
Zimbabwe                    80.56
Zimbabwe                    80.56
Zimbabwe                    80.56
Zimbabwe                    80.56
Zimbabwe                    80.56

[32277 rows x 1 columns]

In [11]:
# Average Stringency Index per location from highest to lowest
avg_StringencyIndex=location_StringencyIndex_df.groupby(by=["location"]).mean().sort_values(by="StringencyIndex_updated",ascending=False)
avg_StringencyIndex[0:10]

             StringencyIndex_updated
location
Honduras                   96.027135
Libya                      93.703375
Guatemala                  92.938706
El Salvador                92.016265
Eritrea                    91.560123
Bolivia                    90.381676
Palestine                  85.618820
Venezuela                  83.699706
Uganda                     83.595215
Paraguay                   82.296124

In [12]:
# Set location as Index- Government Response
Govt_Response_df = pd.DataFrame(merged_covid_df.set_index(["location"])["GovernmentResponseIndex_updated"])
Govt_Response_df

          GovernmentResponseIndex_updated
location
Aruba                                2.56
Aruba                               29.49
Aruba                               29.49
Aruba                               37.18
Aruba                               37.18
...                                   ...
Zimbabwe                            66.03
Zimbabwe                            66.03
Zimbabwe                            66.03
Zimbabwe                            66.03
Zimbabwe                            66.03

[32277 rows x 1 columns]

In [13]:
# Average Government Response per location from highest to lowest
Govt_Resp_avg=Govt_Response_df.groupby(by=["location"]).mean().sort_values(by="GovernmentResponseIndex_updated",ascending=False)
Govt_Resp_avg[0:10]

             GovernmentResponseIndex_updated
location
Honduras                           84.775906
El Salvador                        83.516446
Colombia                           78.375556
Guatemala                          78.078353
Peru                               76.757043
Paraguay                           76.639551
Puerto Rico                        75.652484
Cape Verde                         75.577744
Cyprus                             75.372948
Gabon                              74.523509

In [14]:
# Set location as index- Containment Index
ContainmentIndex_df = pd.DataFrame(merged_covid_df.set_index(["location"])["ContainmentHealthIndex_updated"])
ContainmentIndex_df

          ContainmentHealthIndex_updated
location
Aruba                               3.03
Aruba                              34.85
Aruba                              34.85
Aruba                              43.94
Aruba                              43.94
...                                  ...
Zimbabwe                           73.48
Zimbabwe                           73.48
Zimbabwe                           73.48
Zimbabwe                           73.48
Zimbabwe                           73.48

[32277 rows x 1 columns]

In [15]:
# Average Containment Index per location from Highest to lowest
ContainmentIndex_avg=ContainmentIndex_df.groupby(by=["location"]).mean().sort_values(by="ContainmentHealthIndex_updated",ascending=False)
ContainmentIndex_avg[0:10]

              ContainmentHealthIndex_updated
location
El Salvador                        86.704819
Honduras                           86.138947
Libya                              84.242062
Eritrea                            82.440061
Guatemala                          81.903765
Kazakhstan                         80.963779
Colombia                           80.422556
Paraguay                           78.827360
Peru                               78.421882
Saudi Arabia                       78.240391

In [56]:
# Adding long and lat to dataframe

key = ""  # get api key from:  https://opencagedata.com

geocoder = OpenCageGeocode(key)

query = 'Zimbabwe'  

results = geocoder.geocode(query)

print (results)

[{'annotations': {'DMS': {'lat': "18° 27' 19.78668'' S", 'lng': "29° 44' 48.62904'' E"}, 'MGRS': '35KQV9012157216', 'Maidenhead': 'KH41un90oq', 'Mercator': {'x': 3311403.237, 'y': -2077413.386}, 'OSM': {'edit_url': 'https://www.openstreetmap.org/edit?relation=195272#map=16/-18.45550/29.74684', 'note_url': 'https://www.openstreetmap.org/note/new#map=16/-18.45550/29.74684&layers=N', 'url': 'https://www.openstreetmap.org/?mlat=-18.45550&mlon=29.74684#map=16/-18.45550/29.74684'}, 'UN_M49': {'regions': {'AFRICA': '002', 'EASTERN_AFRICA': '014', 'SUB-SAHARAN_AFRICA': '202', 'WORLD': '001', 'ZW': '716'}, 'statistical_groupings': ['LEDC', 'LLDC']}, 'callingcode': 263, 'flag': '🇿🇼', 'geohash': 'kstphbkbzwhs74ttrszz', 'qibla': 14.36, 'roadinfo': {'drive_on': 'left', 'speed_in': 'km/h'}, 'sun': {'rise': {'apparent': 1599537840, 'astronomical': 1599533460, 'civil': 1599536520, 'nautical': 1599535020}, 'set': {'apparent': 1599580440, 'astronomical': 1599584760, 'civil': 1599581760, 'nautical': 1599583260}}, 'timezone': {'name': 'Africa/Maputo', 'now_in_dst': 0, 'offset_sec': 7200, 'offset_string': '+0200', 'short_name': 'CAT'}, 'what3words': {'words': 'seamed.lacked.sobbed'}, 'wikidata': 'Q954'}, 'bounds': {'northeast': {'lat': -15.6097033, 'lng': 33.0683413}, 'southwest': {'lat': -22.4241096, 'lng': 25.2373}}, 'components': {'ISO_3166-1_alpha-2': 'ZW', 'ISO_3166-1_alpha-3': 'ZWE', '_category': 'place', '_type': 'country', 'continent': 'Africa', 'country': 'Zimbabwe', 'country_code': 'zw'}, 'confidence': 1, 'formatted': 'Zimbabwe', 'geometry': {'lat': -18.4554963, 'lng': 29.7468414}}, {'annotations': {'DMS': {'lat': "4° 18' 27.48276'' S", 'lng': "55° 42' 25.51500'' E"}, 'MGRS': '40MCA5652223746', 'Maidenhead': 'LI75uq46ue', 'Mercator': {'x': 6201284.614, 'y': -476768.886}, 'OSM': {'edit_url': 'https://www.openstreetmap.org/edit?node=1300150928#map=16/-4.30763/55.70709', 'note_url': 'https://www.openstreetmap.org/note/new#map=16/-4.30763/55.70709&layers=N', 'url': 'https://www.openstreetmap.org/?mlat=-4.30763&mlon=55.70709#map=16/-4.30763/55.70709'}, 'UN_M49': {'regions': {'AFRICA': '002', 'EASTERN_AFRICA': '014', 'SC': '690', 'SUB-SAHARAN_AFRICA': '202', 'WORLD': '001'}, 'statistical_groupings': ['LEDC', 'SIDS']}, 'callingcode': 248, 'currency': {'alternate_symbols': ['SRe', 'SR'], 'decimal_mark': '.', 'disambiguate_symbol': 'SRe', 'html_entity': '&#x20A8;', 'iso_code': 'SCR', 'iso_numeric': '690', 'name': 'Seychellois Rupee', 'smallest_denomination': 1, 'subunit': 'Cent', 'subunit_to_unit': 100, 'symbol': '₨', 'symbol_first': 0, 'thousands_separator': ','}, 'flag': '🇸🇨', 'geohash': 'mppx7xudjnz1enhgqg8v', 'qibla': 329.44, 'roadinfo': {'drive_on': 'left', 'speed_in': 'km/h'}, 'sun': {'rise': {'apparent': 1599531240, 'astronomical': 1599527100, 'civil': 1599529980, 'nautical': 1599528540}, 'set': {'apparent': 1599574500, 'astronomical': 1599578640, 'civil': 1599575760, 'nautical': 1599577200}}, 'timezone': {'name': 'Indian/Mahe', 'now_in_dst': 0, 'offset_sec': 14400, 'offset_string': '+0400', 'short_name': '+04'}, 'what3words': {'words': 'reproduced.snidely.depths'}}, 'bounds': {'northeast': {'lat': -4.3075841, 'lng': 55.7071375}, 'southwest': {'lat': -4.3076841, 'lng': 55.7070375}}, 'components': {'ISO_3166-1_alpha-2': 'SC', 'ISO_3166-1_alpha-3': 'SYC', '_category': 'natural/water', '_type': 'peak', 'city': 'Victoria', 'continent': 'Africa', 'country': 'Seychelles', 'country_code': 'sc', 'peak': 'Zimbabwe'}, 'confidence': 9, 'formatted': 'Zimbabwe, Victoria, Seychelles', 'geometry': {'lat': -4.3076341, 'lng': 55.7070875}}, {'annotations': {'DMS': {'lat': "25° 12' 59.49576'' N", 'lng': "55° 10' 45.77448'' E"}, 'MGRS': '40RCN1658590165', 'Maidenhead': 'LL75of11mx', 'Mercator': {'x': 6142540.685, 'y': 2884165.256}, 'OSM': {'edit_url': 'https://www.openstreetmap.org/edit?relation=9641842#map=16/25.21653/55.17938', 'note_url': 'https://www.openstreetmap.org/note/new#map=16/25.21653/55.17938&layers=N', 'url': 'https://www.openstreetmap.org/?mlat=25.21653&mlon=55.17938#map=16/25.21653/55.17938'}, 'UN_M49': {'regions': {'AE': '784', 'ASIA': '142', 'WESTERN_ASIA': '145', 'WORLD': '001'}, 'statistical_groupings': ['LEDC']}, 'callingcode': 971, 'currency': {'alternate_symbols': ['DH', 'Dhs'], 'decimal_mark': '.', 'html_entity': '', 'iso_code': 'AED', 'iso_numeric': '784', 'name': 'United Arab Emirates Dirham', 'smallest_denomination': 25, 'subunit': 'Fils', 'subunit_to_unit': 100, 'symbol': 'د.إ', 'symbol_first': 0, 'thousands_separator': ','}, 'flag': '🇦🇪', 'geohash': 'thrprws2uv30nfm8rrt2', 'qibla': 258.08, 'roadinfo': {'drive_on': 'right', 'speed_in': 'km/h'}, 'sun': {'rise': {'apparent': 1599530640, 'astronomical': 1599525960, 'civil': 1599529260, 'nautical': 1599527640}, 'set': {'apparent': 1599575400, 'astronomical': 1599580020, 'civil': 1599576780, 'nautical': 1599578400}}, 'timezone': {'name': 'Asia/Dubai', 'now_in_dst': 0, 'offset_sec': 14400, 'offset_string': '+0400', 'short_name': '+04'}, 'what3words': {'words': 'trotting.productions.animal'}}, 'bounds': {'northeast': {'lat': 25.2176117, 'lng': 55.1803944}, 'southwest': {'lat': 25.2153647, 'lng': 55.1784561}}, 'components': {'ISO_3166-1_alpha-2': 'AE', 'ISO_3166-1_alpha-3': 'ARE', '_category': 'natural/water', '_type': 'islet', 'city': 'Dubai', 'continent': 'Asia', 'country': 'United Arab Emirates', 'country_code': 'ae', 'islet': 'Zimbabwe', 'state': 'Dubai'}, 'confidence': 9, 'formatted': 'Zimbabwe, Dubai, United Arab Emirates', 'geometry': {'lat': 25.2165266, 'lng': 55.1793818}}, {'annotations': {'DMS': {'lat': "4° 45' 39.55896'' N", 'lng': "6° 39' 57.88800'' W"}, 'MGRS': '29NQF5888726682', 'Maidenhead': 'IJ64qs02bp', 'Mercator': {'x': -742064.631, 'y': 527057.859}, 'OSM': {'edit_url': 'https://www.openstreetmap.org/edit?node=2156919966#map=16/4.76099/-6.66608', 'note_url': 'https://www.openstreetmap.org/note/new#map=16/4.76099/-6.66608&layers=N', 'url': 'https://www.openstreetmap.org/?mlat=4.76099&mlon=-6.66608#map=16/4.76099/-6.66608'}, 'UN_M49': {'regions': {'AFRICA': '002', 'CI': '384', 'SUB-SAHARAN_AFRICA': '202', 'WESTERN_AFRICA': '011', 'WORLD': '001'}, 'statistical_groupings': ['LEDC']}, 'callingcode': 225, 'currency': {'alternate_symbols': ['CFA'], 'decimal_mark': '.', 'disambiguate_symbol': 'CFA', 'html_entity': '', 'iso_code': 'XOF', 'iso_numeric': '952', 'name': 'West African Cfa Franc', 'smallest_denomination': 100, 'subunit': 'Centime', 'subunit_to_unit': 1, 'symbol': 'Fr', 'symbol_first': 0, 'thousands_separator': ','}, 'flag': '🇨🇮', 'geohash': 'ebg7069yv0d7pxengqn1', 'qibla': 65.28, 'roadinfo': {'drive_on': 'right', 'speed_in': 'km/h'}, 'sun': {'rise': {'apparent': 1599546000, 'astronomical': 1599541860, 'civil': 1599544740, 'nautical': 1599543300}, 'set': {'apparent': 1599589680, 'astronomical': 1599593820, 'civil': 1599590940, 'nautical': 1599592380}}, 'timezone': {'name': 'Africa/Abidjan', 'now_in_dst': 0, 'offset_sec': 0, 'offset_string': '+0000', 'short_name': 'GMT'}, 'what3words': {'words': 'earthier.competently.doubter'}}, 'bounds': {'northeast': {'lat': 4.7610386, 'lng': -6.66603}, 'southwest': {'lat': 4.7609386, 'lng': -6.66613}}, 'components': {'ISO_3166-1_alpha-2': 'CI', 'ISO_3166-1_alpha-3': 'CIV', '_category': 'place', '_type': 'neighbourhood', 'city': 'San-Pédro', 'continent': 'Africa', 'country': "Côte d'Ivoire", 'country_code': 'ci', 'neighbourhood': 'Zimbabwe', 'state': 'Bas-Sassandra', 'state_code': 'BS', 'state_district': 'San Pedro', 'suburb': 'Le Bardo'}, 'confidence': 9, 'formatted': "Le Bardo, San-Pédro, San Pedro, Côte d'Ivoire", 'geometry': {'lat': 4.7609886, 'lng': -6.66608}}, {'annotations': {'DMS': {'lat': "19° 43' 56.34336'' N", 'lng': "101° 10' 10.25940'' W"}, 'MGRS': '14QKG7263383313', 'Maidenhead': 'DK99jr95ps', 'Mercator': {'x': -11262139.061, 'y': 2226927.564}, 'OSM': {'edit_url': 'https://www.openstreetmap.org/edit?way=464842776#map=16/19.73232/-101.16952', 'note_url': 'https://www.openstreetmap.org/note/new#map=16/19.73232/-101.16952&layers=N', 'url': 'https://www.openstreetmap.org/?mlat=19.73232&mlon=-101.16952#map=16/19.73232/-101.16952'}, 'UN_M49': {'regions': {'AMERICAS': '019', 'CENTRAL_AMERICA': '013', 'LATIN_AMERICA': '419', 'MX': '484', 'WORLD': '001'}, 'statistical_groupings': ['LEDC']}, 'callingcode': 52, 'currency': {'alternate_symbols': ['MEX$'], 'decimal_mark': '.', 'disambiguate_symbol': 'MEX$', 'html_entity': '$', 'iso_code': 'MXN', 'iso_numeric': '484', 'name': 'Mexican Peso', 'smallest_denomination': 5, 'subunit': 'Centavo', 'subunit_to_unit': 100, 'symbol': '$', 'symbol_first': 1, 'thousands_separator': ','}, 'flag': '🇲🇽', 'geohash': '9g803b4t56sg7hex5v5v', 'qibla': 44.9, 'roadinfo': {'drive_on': 'right', 'road': 'Zimbabwe', 'road_type': 'residential', 'speed_in': 'km/h'}, 'sun': {'rise': {'apparent': 1599568320, 'astronomical': 1599563880, 'civil': 1599567000, 'nautical': 1599565440}, 'set': {'apparent': 1599526320, 'astronomical': 1599530700, 'civil': 1599527640, 'nautical': 1599529200}}, 'timezone': {'name': 'America/Mexico_City', 'now_in_dst': 1, 'offset_sec': -18000, 'offset_string': '-0500', 'short_name': 'CDT'}, 'what3words': {'words': 'graphics.frowns.rotate'}}, 'bounds': {'northeast': {'lat': 19.7325582, 'lng': -101.1674536}, 'southwest': {'lat': 19.7322507, 'lng': -101.1715757}}, 'components': {'ISO_3166-1_alpha-2': 'MX', 'ISO_3166-1_alpha-3': 'MEX', '_category': 'road', '_type': 'road', 'city': 'Morelia', 'continent': 'North America', 'country': 'Mexico', 'country_code': 'mx', 'county': 'Morelia', 'postcode': '58210', 'road': 'Zimbabwe', 'road_type': 'residential', 'state': 'Michoacán', 'state_code': 'MIC'}, 'confidence': 9, 'formatted': 'Zimbabwe, 58210 Morelia, MIC, Mexico', 'geometry': {'lat': 19.7323176, 'lng': -101.1695165}}, {'annotations': {'DMS': {'lat': "6° 48' 26.15508'' S", 'lng': "39° 14' 48.63660'' E"}, 'MGRS': '37MEN2727547550', 'Maidenhead': 'KI93oe96og', 'Mercator': {'x': 4368938.639, 'y': -754509.269}, 'OSM': {'edit_url': 'https://www.openstreetmap.org/edit?way=361861925#map=16/-6.80727/39.24684', 'note_url': 'https://www.openstreetmap.org/note/new#map=16/-6.80727/39.24684&layers=N', 'url': 'https://www.openstreetmap.org/?mlat=-6.80727&mlon=39.24684#map=16/-6.80727/39.24684'}, 'UN_M49': {'regions': {'AFRICA': '002', 'EASTERN_AFRICA': '014', 'SUB-SAHARAN_AFRICA': '202', 'TZ': '834', 'WORLD': '001'}, 'statistical_groupings': ['LDC', 'LEDC']}, 'callingcode': 255, 'currency': {'alternate_symbols': [], 'decimal_mark': '.', 'html_entity': '', 'iso_code': 'TZS', 'iso_numeric': '834', 'name': 'Tanzanian Shilling', 'smallest_denomination': 5000, 'subunit': 'Cent', 'subunit_to_unit': 100, 'symbol': 'Sh', 'symbol_first': 1, 'thousands_separator': ','}, 'flag': '🇹🇿', 'geohash': 'kygcm0f8v9z95fmpxx08', 'qibla': 1.14, 'roadinfo': {'drive_on': 'left', 'road': 'Usimulizi Street', 'speed_in': 'km/h'}, 'sun': {'rise': {'apparent': 1599535260, 'astronomical': 1599531120, 'civil': 1599534000, 'nautical': 1599532560}, 'set': {'apparent': 1599578400, 'astronomical': 1599582540, 'civil': 1599579660, 'nautical': 1599581100}}, 'timezone': {'name': 'Africa/Nairobi', 'now_in_dst': 0, 'offset_sec': 10800, 'offset_string': '+0300', 'short_name': 'EAT'}, 'what3words': {'words': 'conqueror.couch.paid'}}, 'bounds': {'northeast': {'lat': -6.8071922, 'lng': 39.2469375}, 'southwest': {'lat': -6.8073596, 'lng': 39.2467496}}, 'components': {'ISO_3166-1_alpha-2': 'TZ', 'ISO_3166-1_alpha-3': 'TZA', '_category': 'commerce', '_type': 'bar', 'bar': 'Zimbabwe', 'city': 'Dar es Salaam', 'city_district': 'Makurumla', 'continent': 'Africa', 'country': 'Tanzania', 'country_code': 'tz', 'road': 'Usimulizi Street', 'state': 'Coastal Zone'}, 'confidence': 9, 'formatted': 'Zimbabwe, Usimulizi Street, Dar es Salaam, Coastal Zone, Tanzania', 'geometry': {'lat': -6.8072653, 'lng': 39.2468435}}, {'annotations': {'DMS': {'lat': "29° 46' 21.94608'' S", 'lng': "51° 8' 39.77808'' W"}, 'MGRS': '22JDN8604206385', 'Maidenhead': 'GG40kf24qm', 'Mercator': {'x': -5693366.65, 'y': -3453160.241}, 'OSM': {'edit_url': 'https://www.openstreetmap.org/edit?node=1025631414#map=16/-29.77276/-51.14438', 'note_url': 'https://www.openstreetmap.org/note/new#map=16/-29.77276/-51.14438&layers=N', 'url': 'https://www.openstreetmap.org/?mlat=-29.77276&mlon=-51.14438#map=16/-29.77276/-51.14438'}, 'UN_M49': {'regions': {'AMERICAS': '019', 'BR': '076', 'LATIN_AMERICA': '419', 'SOUTH_AMERICA': '005', 'WORLD': '001'}, 'statistical_groupings': ['LEDC']}, 'callingcode': 55, 'currency': {'decimal_mark': ',', 'html_entity': 'R$', 'iso_code': 'BRL', 'iso_numeric': '986', 'name': 'Brazilian Real', 'smallest_denomination': 5, 'subunit': 'Centavo', 'subunit_to_unit': 100, 'symbol': 'R$', 'symbol_first': 1, 'thousands_separator': '.'}, 'flag': '🇧🇷', 'geohash': '6fewshjc1db058vrfj40', 'qibla': 71.62, 'roadinfo': {'drive_on': 'right', 'road': 'Rua Independência', 'speed_in': 'km/h'}, 'sun': {'rise': {'apparent': 1599557520, 'astronomical': 1599552780, 'civil': 1599556080, 'nautical': 1599554400}, 'set': {'apparent': 1599599580, 'astronomical': 1599604320, 'civil': 1599601020, 'nautical': 1599602640}}, 'timezone': {'name': 'America/Sao_Paulo', 'now_in_dst': 0, 'offset_sec': -10800, 'offset_string': '-0300', 'short_name': 'BRT'}, 'what3words': {'words': 'lobbed.apples.websites'}}, 'bounds': {'northeast': {'lat': -29.7727128, 'lng': -51.1443328}, 'southwest': {'lat': -29.7728128, 'lng': -51.1444328}}, 'components': {'ISO_3166-1_alpha-2': 'BR', 'ISO_3166-1_alpha-3': 'BRA', '_category': 'commerce', '_type': 'restaurant', 'city': 'São Leopoldo', 'city_district': 'São Leopoldo', 'continent': 'South America', 'country': 'Brazil', 'country_code': 'br', 'county': 'Região Geográfica Imediata de Novo Hamburgo - São Leopoldo', 'postcode': '93010-210', 'restaurant': 'Zimbabwe', 'road': 'Rua Independência', 'state': 'Rio Grande do Sul', 'state_code': 'RS', 'state_district': 'Região Geográfica Intermediária de Porto Alegre', 'suburb': 'Centro'}, 'confidence': 9, 'formatted': 'Zimbabwe, Rua Independência, Centro, São Leopoldo - RS, 93010-210, Brazil', 'geometry': {'lat': -29.7727628, 'lng': -51.1443828}}, {'annotations': {'DMS': {'lat': "35° 21' 27.36972'' S", 'lng': "149° 6' 23.11200'' E"}, 'MGRS': '55HFA9138885262', 'Maidenhead': 'QF44np24se', 'Mercator': {'x': 16598450.745, 'y': -4187858.062}, 'OSM': {'edit_url': 'https://www.openstreetmap.org/edit?way=761890289#map=16/-35.35760/149.10642', 'note_url': 'https://www.openstreetmap.org/note/new#map=16/-35.35760/149.10642&layers=N', 'url': 'https://www.openstreetmap.org/?mlat=-35.35760&mlon=149.10642#map=16/-35.35760/149.10642'}, 'UN_M49': {'regions': {'AU': '036', 'AUSTRALASIA': '053', 'OCEANIA': '009', 'WORLD': '001'}, 'statistical_groupings': ['MEDC']}, 'callingcode': 61, 'currency': {'alternate_symbols': ['A$'], 'decimal_mark': '.', 'disambiguate_symbol': 'A$', 'html_entity': '$', 'iso_code': 'AUD', 'iso_numeric': '036', 'name': 'Australian Dollar', 'smallest_denomination': 5, 'subunit': 'Cent', 'subunit_to_unit': 100, 'symbol': '$', 'symbol_first': 1, 'thousands_separator': ','}, 'flag': '🇦🇺', 'geohash': 'r3dnbgrgp3jh53by3buw', 'qibla': 277.78, 'roadinfo': {'drive_on': 'left', 'road': 'Pindari Crescent', 'speed_in': 'km/h'}, 'sun': {'rise': {'apparent': 1599596100, 'astronomical': 1599591060, 'civil': 1599594600, 'nautical': 1599592800}, 'set': {'apparent': 1599551280, 'astronomical': 1599556380, 'civil': 1599552840, 'nautical': 1599554580}}, 'timezone': {'name': 'Australia/Sydney', 'now_in_dst': 0, 'offset_sec': 36000, 'offset_string': '+1000', 'short_name': 'AEST'}, 'what3words': {'words': 'from.prom.combining'}}, 'bounds': {'northeast': {'lat': -35.3574244, 'lng': 149.1067162}, 'southwest': {'lat': -35.3577367, 'lng': 149.1061866}}, 'components': {'ISO_3166-1_alpha-2': 'AU', 'ISO_3166-1_alpha-3': 'AUS', '_category': 'road', '_type': 'road', 'continent': 'Oceania', 'country': 'Australia', 'country_code': 'au', 'county': 'District of Woden Valley', 'postcode': '2606', 'road': 'Pindari Crescent', 'state': 'Australian Capital Territory', 'state_code': 'ACT', 'suburb': "O'Malley", 'unknown': 'Zimbabwe'}, 'confidence': 9, 'formatted': "Zimbabwe, Pindari Crescent, O'Malley ACT 2606, Australia", 'geometry': {'lat': -35.3576027, 'lng': 149.10642}}, {'annotations': {'DMS': {'lat': "4° 18' 16.36452'' S", 'lng': "55° 42' 8.00424'' E"}, 'MGRS': '40MCA5598224086', 'Maidenhead': 'LI75uq46gv', 'Mercator': {'x': 6200743.145, 'y': -476426.409}, 'OSM': {'edit_url': 'https://www.openstreetmap.org/edit?node=3665723950#map=16/-4.30455/55.70222', 'note_url': 'https://www.openstreetmap.org/note/new#map=16/-4.30455/55.70222&layers=N', 'url': 'https://www.openstreetmap.org/?mlat=-4.30455&mlon=55.70222#map=16/-4.30455/55.70222'}, 'UN_M49': {'regions': {'AFRICA': '002', 'EASTERN_AFRICA': '014', 'SC': '690', 'SUB-SAHARAN_AFRICA': '202', 'WORLD': '001'}, 'statistical_groupings': ['LEDC', 'SIDS']}, 'callingcode': 248, 'currency': {'alternate_symbols': ['SRe', 'SR'], 'decimal_mark': '.', 'disambiguate_symbol': 'SRe', 'html_entity': '&#x20A8;', 'iso_code': 'SCR', 'iso_numeric': '690', 'name': 'Seychellois Rupee', 'smallest_denomination': 1, 'subunit': 'Cent', 'subunit_to_unit': 100, 'symbol': '₨', 'symbol_first': 0, 'thousands_separator': ','}, 'flag': '🇸🇨', 'geohash': 'mppxe83h5ys0tnyet30n', 'qibla': 329.45, 'roadinfo': {'drive_on': 'left', 'road': 'Pasquière Track', 'road_type': 'bus_stop', 'speed_in': 'km/h'}, 'sun': {'rise': {'apparent': 1599531240, 'astronomical': 1599527100, 'civil': 1599529980, 'nautical': 1599528540}, 'set': {'apparent': 1599574500, 'astronomical': 1599578640, 'civil': 1599575760, 'nautical': 1599577200}}, 'timezone': {'name': 'Indian/Mahe', 'now_in_dst': 0, 'offset_sec': 14400, 'offset_string': '+0400', 'short_name': '+04'}, 'what3words': {'words': 'tanned.toga.tutors'}}, 'bounds': {'northeast': {'lat': -4.3044957, 'lng': 55.7022734}, 'southwest': {'lat': -4.3045957, 'lng': 55.7021734}}, 'components': {'ISO_3166-1_alpha-2': 'SC', 'ISO_3166-1_alpha-3': 'SYC', '_category': 'transportation', '_type': 'bus_stop', 'bus_stop': 'Zimbabwe', 'continent': 'Africa', 'country': 'Seychelles', 'country_code': 'sc', 'road': 'Pasquière Track', 'road_type': 'bus_stop', 'village': 'Grande Anse'}, 'confidence': 9, 'formatted': 'Zimbabwe, Pasquière Track, Grande Anse, Seychelles', 'geometry': {'lat': -4.3045457, 'lng': 55.7022234}}]

In [57]:
#lat = results[0]['geometry']['lat']

#lng = results[0]['geometry']['lng']

#print (lat, lng)

In [58]:
countries= merged_covid_df.location.unique()
countries

array(['Aruba', 'Afghanistan', 'Angola', 'Albania',
       'United Arab Emirates', 'Argentina', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bosnia and Herzegovina',
       'Belarus', 'Belize', 'Bolivia', 'Brazil', 'Barbados', 'Brunei',
       'Bhutan', 'Botswana', 'Central African Republic', 'Canada',
       'Switzerland', 'Chile', 'China', "Cote d'Ivoire", 'Cameroon',
       'Democratic Republic of Congo', 'Congo', 'Colombia', 'Cape Verde',
       'Costa Rica', 'Cuba', 'Cyprus', 'Czech Republic', 'Germany',
       'Djibouti', 'Denmark', 'Dominican Republic', 'Algeria', 'Ecuador',
       'Egypt', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia', 'Finland',
       'Fiji', 'France', 'Gabon', 'United Kingdom', 'Georgia', 'Ghana',
       'Guinea', 'Gambia', 'Greece', 'Guatemala', 'Guam', 'Guyana',
       'Hong Kong', 'Honduras', 'Croatia', 'Haiti', 'Hungary',
       'Indonesia', 'India', 'Ireland', 'Iran', 'Iraq', 'Iceland',
       'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan', 'Kazakhstan',
       'Kenya', 'Kyrgyzstan', 'Cambodia', 'South Korea', 'Kuwait', 'Laos',
       'Lebanon', 'Liberia', 'Libya', 'Sri Lanka', 'Lesotho', 'Lithuania',
       'Luxembourg', 'Latvia', 'Morocco', 'Moldova', 'Madagascar',
       'Mexico', 'Mali', 'Myanmar', 'Mongolia', 'Mozambique',
       'Mauritania', 'Mauritius', 'Malawi', 'Malaysia', 'Namibia',
       'Niger', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal',
       'New Zealand', 'Oman', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Papua New Guinea', 'Poland', 'Puerto Rico', 'Portugal',
       'Paraguay', 'Palestine', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Sierra Leone',
       'El Salvador', 'Somalia', 'Serbia', 'Suriname', 'Slovakia',
       'Slovenia', 'Sweden', 'Swaziland', 'Seychelles', 'Chad', 'Togo',
       'Thailand', 'Tajikistan', 'Timor', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Tanzania', 'Uganda', 'Ukraine', 'Uruguay',
       'United States', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [62]:
country_lon_lat ={}
for country in countries:
    results = geocoder.geocode(country)
    country_lon_lat[country]={"lat":results[0]['geometry']['lat'], "lon": results[0]['geometry']['lng']}
country_lon_lat

{'Aruba': {'lat': 12.4902998, 'lon': -69.9609842},
 'Afghanistan': {'lat': 33.7680065, 'lon': 66.2385139},
 'Angola': {'lat': -11.8775768, 'lon': 17.5691241},
 'Albania': {'lat': 41.000028, 'lon': 19.9999619},
 'United Arab Emirates': {'lat': 24.0002488, 'lon': 53.9994829},
 'Argentina': {'lat': -34.9964963, 'lon': -64.9672817},
 'Australia': {'lat': -24.7761086, 'lon': 134.755},
 'Austria': {'lat': 47.2000338, 'lon': 13.199959},
 'Azerbaijan': {'lat': 40.3936294, 'lon': 47.7872508},
 'Burundi': {'lat': -3.3634357, 'lon': 29.8870575},
 'Belgium': {'lat': 50.6402809, 'lon': 4.6667145},
 'Benin': {'lat': 9.5293472, 'lon': 2.2584408},
 'Burkina Faso': {'lat': 12.0753083, 'lon': -1.6880314},
 'Bangladesh': {'lat': 24.4768783, 'lon': 90.2932426},
 'Bulgaria': {'lat': 42.6073975, 'lon': 25.4856617},
 'Bahrain': {'lat': 26.1551249, 'lon': 50.5344606},
 'Bosnia and Herzegovina': {'lat': 44.3053476, 'lon': 17.5961467},
 'Belarus': {'lat': 53.4250605, 'lon': 27.6971358},
 'Belize': {'lat': 16.8259793, 'lon': -88.7600927},
 'Bolivia': {'lat': -17.0568696, 'lon': -64.9912286},
 'Brazil': {'lat': -10.3333333, 'lon': -53.2},
 'Barbados': {'lat': 13.1500331, 'lon': -59.5250305},
 'Brunei': {'lat': 4.4137155, 'lon': 114.5653908},
 'Bhutan': {'lat': 27.549511, 'lon': 90.5119273},
 'Botswana': {'lat': -23.1681782, 'lon': 24.5928742},
 'Central African Republic': {'lat': 7.0323598, 'lon': 19.9981227},
 'Canada': {'lat': 61.0666922, 'lon': -107.9917071},
 'Switzerland': {'lat': 46.7985624, 'lon': 8.2319736},
 'Chile': {'lat': -31.7613365, 'lon': -71.3187697},
 'China': {'lat': 35.000074, 'lon': 104.999927},
 "Cote d'Ivoire": {'lat': 7.9897371, 'lon': -5.5679458},
 'Cameroon': {'lat': 4.6125522, 'lon': 13.1535811},
 'Democratic Republic of Congo': {'lat': -2.9814344, 'lon': 23.8222636},
 'Congo': {'lat': -0.7264327, 'lon': 15.6419155},
 'Colombia': {'lat': 2.8894434, 'lon': -73.783892},
 'Cape Verde': {'lat': 16.0000552, 'lon': -24.0083947},
 'Costa Rica': {'lat': 10.2735633, 'lon': -84.0739102},
 'Cuba': {'lat': 23.0131338, 'lon': -80.8328748},
 'Cyprus': {'lat': 34.9823018, 'lon': 33.1451285},
 'Czech Republic': {'lat': 49.8167003, 'lon': 15.4749544},
 'Germany': {'lat': 51.0834196, 'lon': 10.4234469},
 'Djibouti': {'lat': 11.8145966, 'lon': 42.8453061},
 'Denmark': {'lat': 55.670249, 'lon': 10.3333283},
 'Dominican Republic': {'lat': 19.0974031, 'lon': -70.3028026},
 'Algeria': {'lat': 28.0000272, 'lon': 2.9999825},
 'Ecuador': {'lat': -1.3397668, 'lon': -79.3666965},
 'Egypt': {'lat': 26.2540493, 'lon': 29.2675469},
 'Eritrea': {'lat': 15.9500319, 'lon': 37.9999668},
 'Spain': {'lat': 39.3262345, 'lon': -4.8380649},
 'Estonia': {'lat': 58.7523778, 'lon': 25.3319078},
 'Ethiopia': {'lat': 10.2116702, 'lon': 38.6521203},
 'Finland': {'lat': 63.2467777, 'lon': 25.9209164},
 'Fiji': {'lat': -18.1239696, 'lon': 179.0122737},
 'France': {'lat': 46.603354, 'lon': 1.8883335},
 'Gabon': {'lat': -0.8999695, 'lon': 11.6899699},
 'United Kingdom': {'lat': 54.7023545, 'lon': -3.2765753},
 'Georgia': {'lat': 41.6809707, 'lon': 44.0287382},
 'Ghana': {'lat': 8.0300284, 'lon': -1.0800271},
 'Guinea': {'lat': 10.7226226, 'lon': -10.7083587},
 'Gambia': {'lat': 13.470062, 'lon': -15.4900464},
 'Greece': {'lat': 38.9953683, 'lon': 21.9877132},
 'Guatemala': {'lat': 15.6356088, 'lon': -89.8988087},
 'Guam': {'lat': 13.4501257, 'lon': 144.757551},
 'Guyana': {'lat': 4.8417097, 'lon': -58.6416891},
 'Hong Kong': {'lat': 22.2793278, 'lon': 114.1628131},
 'Honduras': {'lat': 15.2572432, 'lon': -86.0755145},
 'Croatia': {'lat': 45.5643442, 'lon': 17.0118954},
 'Haiti': {'lat': 19.1399952, 'lon': -72.3570972},
 'Hungary': {'lat': 47.1817585, 'lon': 19.5060937},
 'Indonesia': {'lat': -2.4833826, 'lon': 117.8902853},
 'India': {'lat': 22.3511148, 'lon': 78.6677428},
 'Ireland': {'lat': 52.865196, 'lon': -7.9794599},
 'Iran': {'lat': 32.6475314, 'lon': 54.5643516},
 'Iraq': {'lat': 33.0955793, 'lon': 44.1749775},
 'Iceland': {'lat': 64.9841821, 'lon': -18.1059013},
 'Israel': {'lat': 31.5313113, 'lon': 34.8667654},
 'Italy': {'lat': 42.6384261, 'lon': 12.674297},
 'Jamaica': {'lat': 18.1152958, 'lon': -77.1598455},
 'Jordan': {'lat': 31.1667049, 'lon': 36.941628},
 'Japan': {'lat': 36.5748441, 'lon': 139.2394179},
 'Kazakhstan': {'lat': 47.2286086, 'lon': 65.2093197},
 'Kenya': {'lat': 1.4419683, 'lon': 38.4313975},
 'Kyrgyzstan': {'lat': 41.5089324, 'lon': 74.724091},
 'Cambodia': {'lat': 13.5066394, 'lon': 104.869423},
 'South Korea': {'lat': 36.638392, 'lon': 127.6961188},
 'Kuwait': {'lat': 29.2733964, 'lon': 47.4979476},
 'Laos': {'lat': 20.0171109, 'lon': 103.378253},
 'Lebanon': {'lat': 33.8750629, 'lon': 35.843409},
 'Liberia': {'lat': 5.7499721, 'lon': -9.3658524},
 'Libya': {'lat': 26.8234472, 'lon': 18.1236723},
 'Sri Lanka': {'lat': 7.5554942, 'lon': 80.7137847},
 'Lesotho': {'lat': -29.6039267, 'lon': 28.3350193},
 'Lithuania': {'lat': 55.3500003, 'lon': 23.7499997},
 'Luxembourg': {'lat': 49.8158683, 'lon': 6.1296751},
 'Latvia': {'lat': 56.8406494, 'lon': 24.7537645},
 'Morocco': {'lat': 31.1728205, 'lon': -7.3362482},
 'Moldova': {'lat': 47.2879608, 'lon': 28.5670941},
 'Madagascar': {'lat': -18.9249604, 'lon': 46.4416422},
 'Mexico': {'lat': 19.4326296, 'lon': -99.1331785},
 'Mali': {'lat': 16.3700359, 'lon': -2.2900239},
 'Myanmar': {'lat': 17.1750495, 'lon': 95.9999652},
 'Mongolia': {'lat': 46.8250388, 'lon': 103.8499736},
 'Mozambique': {'lat': -19.302233, 'lon': 34.9144977},
 'Mauritania': {'lat': 20.2540382, 'lon': -9.2399263},
 'Mauritius': {'lat': -20.2759451, 'lon': 57.5703566},
 'Malawi': {'lat': -13.2687204, 'lon': 33.9301963},
 'Malaysia': {'lat': 4.5693754, 'lon': 102.2656823},
 'Namibia': {'lat': -23.2335499, 'lon': 17.3231107},
 'Niger': {'lat': 17.7356214, 'lon': 9.3238432},
 'Nigeria': {'lat': 9.6000359, 'lon': 7.9999721},
 'Nicaragua': {'lat': 12.6090157, 'lon': -85.2936911},
 'Netherlands': {'lat': 52.5001698, 'lon': 5.7480821},
 'Norway': {'lat': 64.5731537, 'lon': 11.5280364},
 'Nepal': {'lat': 28.1083929, 'lon': 84.0917139},
 'New Zealand': {'lat': -41.5000831, 'lon': 172.8344077},
 'Oman': {'lat': 21.0000287, 'lon': 57.0036901},
 'Pakistan': {'lat': 30.3308401, 'lon': 71.247499},
 'Panama': {'lat': 8.559559, 'lon': -81.1308434},
 'Peru': {'lat': -6.8699697, 'lon': -75.0458515},
 'Philippines': {'lat': 12.7503486, 'lon': 122.7312101},
 'Papua New Guinea': {'lat': -5.6816069, 'lon': 144.2489081},
 'Poland': {'lat': 52.215933, 'lon': 19.134422},
 'Puerto Rico': {'lat': 18.2214149, 'lon': -66.4132818},
 'Portugal': {'lat': 40.0332629, 'lon': -7.8896263},
 'Paraguay': {'lat': -23.3165935, 'lon': -58.1693445},
 'Palestine': {'lat': 31.9469665, 'lon': 35.2738655},
 'Qatar': {'lat': 25.3336984, 'lon': 51.2295295},
 'Romania': {'lat': 45.9852129, 'lon': 24.6859225},
 'Russia': {'lat': 64.6863136, 'lon': 97.7453061},
 'Rwanda': {'lat': -1.9646631, 'lon': 30.0644358},
 'Saudi Arabia': {'lat': 25.6242618, 'lon': 42.3528328},
 'Sudan': {'lat': 14.5844444, 'lon': 29.4917691},
 'Senegal': {'lat': 14.4750607, 'lon': -14.4529612},
 'Singapore': {'lat': 1.340863, 'lon': 103.8303918},
 'Sierra Leone': {'lat': 8.6400349, 'lon': -11.8400269},
 'El Salvador': {'lat': 13.8000382, 'lon': -88.9140683},
 'Somalia': {'lat': 8.3676771, 'lon': 49.083416},
 'Serbia': {'lat': 44.0243228, 'lon': 21.0765743},
 'Suriname': {'lat': 4.1413025, 'lon': -56.0771187},
 'Slovakia': {'lat': 48.7411522, 'lon': 19.4528646},
 'Slovenia': {'lat': 45.8133113, 'lon': 14.4808369},
 'Sweden': {'lat': 59.6749712, 'lon': 14.5208584},
 'Swaziland': {'lat': -26.5624806, 'lon': 31.3991317},
 'Seychelles': {'lat': -4.6574977, 'lon': 55.4540146},
 'Chad': {'lat': 15.6134137, 'lon': 19.0156172},
 'Togo': {'lat': 8.7800265, 'lon': 1.0199765},
 'Thailand': {'lat': 14.8971921, 'lon': 100.83273},
 'Tajikistan': {'lat': 38.6281733, 'lon': 70.8156541},
 'Timor': {'lat': -9.3460171, 'lon': 124.6372799},
 'Trinidad and Tobago': {'lat': 10.8677845, 'lon': -60.9821067},
 'Tunisia': {'lat': 33.8439408, 'lon': 9.400138},
 'Turkey': {'lat': 38.9597594, 'lon': 34.9249653},
 'Tanzania': {'lat': -6.5247123, 'lon': 35.7878438},
 'Uganda': {'lat': 1.5333554, 'lon': 32.2166578},
 'Ukraine': {'lat': 49.4871968, 'lon': 31.2718321},
 'Uruguay': {'lat': -32.8755548, 'lon': -56.0201525},
 'United States': {'lat': 39.7837304, 'lon': -100.4458825},
 'Uzbekistan': {'lat': 41.32373, 'lon': 63.9528098},
 'Venezuela': {'lat': 8.0018709, 'lon': -66.1109318},
 'Vietnam': {'lat': 13.2904027, 'lon': 108.4265113},
 'Yemen': {'lat': 16.3471243, 'lon': 47.8915271},
 'South Africa': {'lat': -28.8166236, 'lon': 24.991639},
 'Zambia': {'lat': -14.5186239, 'lon': 27.5599164},
 'Zimbabwe': {'lat': -18.4554963, 'lon': 29.7468414}}

In [63]:
country_lon_lat['Aruba']['lat']

12.4902998

In [71]:
lat = []
lon = []
for index, row in merged_covid_df.iterrows():
    location = row['location']
    for item in country_lon_lat:
        if location == item:
            lat.append(country_lon_lat[item]['lat'])
            lon.append(country_lon_lat[item]['lon'])
merged_covid_df['lat']=lat
merged_covid_df['lon']=lon
merged_covid_df.tail()

,primary_key_reaction,date_updated,iso_code,continent,location,population,population_density,median_age,new_cases,percentage_of_Pop_New_Cases,...,percentage_change_stringency,StringencyLegacyIndex_updated,GovernmentResponseIndex_updated,percentage_change_GovernmentResponse,ContainmentHealthIndex_updated,percentage_change_ContainmentHealth,EconomicSupportIndex_updated,percentage_change_EconomicSupport,lat,lon
32272,ZWE2020-08-27,2020-08-27,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,55.0,0.000370,...,0.0,88.1,66.03,0.0,73.48,0.0,25.0,0.0,-18.455496,29.746841
32273,ZWE2020-08-28,2020-08-28,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,41.0,0.000276,...,0.0,88.1,66.03,0.0,73.48,0.0,25.0,0.0,-18.455496,29.746841
32274,ZWE2020-08-29,2020-08-29,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,96.0,0.000646,...,0.0,88.1,66.03,0.0,73.48,0.0,25.0,0.0,-18.455496,29.746841
32275,ZWE2020-08-30,2020-08-30,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,18.0,0.000121,...,0.0,88.1,66.03,0.0,73.48,0.0,25.0,0.0,-18.455496,29.746841
32276,ZWE2020-08-31,2020-08-31,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,6.0,0.000040,...,0.0,88.1,66.03,0.0,73.48,0.0,25.0,0.0,-18.455496,29.746841

In [72]:
merged_covid_df

,primary_key_reaction,date_updated,iso_code,continent,location,population,population_density,median_age,new_cases,percentage_of_Pop_New_Cases,...,percentage_change_stringency,StringencyLegacyIndex_updated,GovernmentResponseIndex_updated,percentage_change_GovernmentResponse,ContainmentHealthIndex_updated,percentage_change_ContainmentHealth,EconomicSupportIndex_updated,percentage_change_EconomicSupport,lat,lon
0,ABW2020-03-13,2020-03-13,ABW,North America,Aruba,106766.0,584.800,41.2,2.0,0.001873,...,0.000000,0.00,2.56,0.000000,3.03,0.000000,0.0,0.0,12.490300,-69.960984
1,ABW2020-03-19,2020-03-19,ABW,North America,Aruba,106766.0,584.800,41.2,0.0,0.000000,...,0.000000,42.86,29.49,15.015601,34.85,15.016502,0.0,0.0,12.490300,-69.960984
2,ABW2020-03-20,2020-03-20,ABW,North America,Aruba,106766.0,584.800,41.2,2.0,0.001873,...,0.000000,42.86,29.49,0.000000,34.85,0.000000,0.0,0.0,12.490300,-69.960984
3,ABW2020-03-21,2020-03-21,ABW,North America,Aruba,106766.0,584.800,41.2,0.0,0.000000,...,33.333333,60.71,37.18,26.076636,43.94,26.083214,0.0,0.0,12.490300,-69.960984
4,ABW2020-03-22,2020-03-22,ABW,North America,Aruba,106766.0,584.800,41.2,0.0,0.000000,...,0.000000,60.71,37.18,0.000000,43.94,0.000000,0.0,0.0,12.490300,-69.960984
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32272,ZWE2020-08-27,2020-08-27,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,55.0,0.000370,...,0.000000,88.10,66.03,0.000000,73.48,0.000000,25.0,0.0,-18.455496,29.746841
32273,ZWE2020-08-28,2020-08-28,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,41.0,0.000276,...,0.000000,88.10,66.03,0.000000,73.48,0.000000,25.0,0.0,-18.455496,29.746841
32274,ZWE2020-08-29,2020-08-29,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,96.0,0.000646,...,0.000000,88.10,66.03,0.000000,73.48,0.000000,25.0,0.0,-18.455496,29.746841
32275,ZWE2020-08-30,2020-08-30,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,18.0,0.000121,...,0.000000,88.10,66.03,0.000000,73.48,0.000000,25.0,0.0,-18.455496,29.746841
32276,ZWE2020-08-31,2020-08-31,ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,6.0,0.000040,...,0.000000,88.10,66.03,0.000000,73.48,0.000000,25.0,0.0,-18.455496,29.746841

In [75]:
# Export all three DataFrames to .csv
merged_covid_df.to_csv('../Resources/merged_covid_lon_lat.csv', index=False)