In [1]:
import pandas as pd

# Creating the dataframe  
df=pd.DataFrame({"A":[5,3,None,4], 
                 "B":[None,2,4,3], 
                 "C":[4,3,8,5], 
                 "D":[5,4,2,None]}) 
  
# Print the dataframe 
df

     A    B  C    D
0  5.0  NaN  4  5.0
1  3.0  2.0  3  4.0
2  NaN  4.0  8  2.0
3  4.0  3.0  5  NaN

In [2]:
# applying ffill() method to fill the missing values 
df.ffill(axis = 0)

     A    B  C    D
0  5.0  NaN  4  5.0
1  3.0  2.0  3  4.0
2  3.0  4.0  8  2.0
3  4.0  3.0  5  2.0